@using Microsoft.AspNetCore.Components
@model SolicitudTramites_Web.Models.ViewModel.TramitesPaginadoViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="row" style="--bs-gutter-x:0">
    @foreach (var tramite in Model.TramitesList)
    {
        <div class="p-4 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@tramite.TramiteNombre</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@tramite.TramiteDescAdjUrl</p>
                    <p class="card-text"><b>Solicitado por:</b> @tramite.Username</p>
                    @*<a asp-controller="Tramites" asp-action="ConsultarTramite" asp-route-tramiteId="@tramite.Id" class="btn btn-primary">Ver Trámite</a>*@
                </div>
            </div>
        </div>
    }
</div>

<a asp-action="Index"
   asp-route-pageNumber="@(1)" class="btn btn-outline-primary  000000">
    <i class="bi bi-skip-start-fill"></i>
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-outline-primary @Model.Previo">
    Anterior
</a>
<span>Pagina @Model.PageNumber de @Model.TotalPaginas </span>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-outline-primary @Model.Siguiente">
    Siguiente
</a>
<a asp-action="Index"
   asp-route-pageNumber="@Model.TotalPaginas" class="btn btn-outline-primary">
    <i class="bi bi-skip-end-fill"></i>
</a>